In [3]:
import seaborn as sns

In [4]:
df=sns.load_dataset("tips")

In [5]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [7]:
df.time

0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
        ...
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 244, dtype: category
Categories (2, object): ['Lunch', 'Dinner']

In [8]:
X=df.drop(df[["time"]], axis=1)

In [9]:
y=df[["time"]]

In [10]:
X

     total_bill   tip     sex smoker   day  size
0         16.99  1.01  Female     No   Sun     2
1         10.34  1.66    Male     No   Sun     3
2         21.01  3.50    Male     No   Sun     3
3         23.68  3.31    Male     No   Sun     2
4         24.59  3.61  Female     No   Sun     4
..          ...   ...     ...    ...   ...   ...
239       29.03  5.92    Male     No   Sat     3
240       27.18  2.00  Female    Yes   Sat     2
241       22.67  2.00    Male    Yes   Sat     2
242       17.82  1.75    Male     No   Sat     2
243       18.78  3.00  Female     No  Thur     2

[244 rows x 6 columns]

In [11]:
y

       time
0    Dinner
1    Dinner
2    Dinner
3    Dinner
4    Dinner
..      ...
239  Dinner
240  Dinner
241  Dinner
242  Dinner
243  Dinner

[244 rows x 1 columns]

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
encoder=LabelEncoder()

In [14]:
y=encoder.fit_transform(y)

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0])

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.20, train_size=0.80, random_state=42)

## Feature Engineering Automation

In [18]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [19]:
numerical_cols=["total_bill", "tip", "size"]
categorical_cols=["sex", "smoker", "day"]

In [20]:
num_pipeline=Pipeline(steps=[("imputer", SimpleImputer(strategy="median")),
                             ("scaler", StandardScaler())])

cat_pipeline=Pipeline(steps=[("imputer", SimpleImputer(strategy="most_frequent")),
                             ("encoder", OneHotEncoder())])

In [21]:
preprocessor=ColumnTransformer([("num_pipeline", num_pipeline, numerical_cols),
                               ("cat_pipeline", cat_pipeline, categorical_cols)])

In [22]:
X_train=preprocessor.fit_transform(X_train)
X_test=preprocessor.transform(X_test)

## Model Training Automation

In [29]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [31]:
models={"Random Forest":RandomForestClassifier(),
       "Decision Tree":DecisionTreeClassifier(),
       "SVC":SVC()}

In [32]:
def evaluate(X_train, X_test, y_train, y_test, models):
    
    report={}
    
    for i in range(len(models)):
        
        model=list(models.values())[i]
        
        model.fit(X_train, y_train)  # model training
        
        y_pred=model.predict(X_test)  # prediction
        
        score=accuracy_score(y_test, y_pred)  # accuracy
        
        report[list(models.keys())[i]]=score
        
    return report

In [33]:
evaluate(X_train, X_test, y_train, y_test, models)

{'Random Forest': 0.9591836734693877,
 'Decision Tree': 0.9387755102040817,
 'SVC': 0.9591836734693877}

In [34]:
# Best accuracy score from models
max(sorted(evaluate(X_train, X_test, y_train, y_test, models).values()))

0.9591836734693877